@{
    ViewBag.Title = "Confirm Password Reset";
    Layout = "_Layout.cshtml";

    var link = "";
    if (!string.IsNullOrWhiteSpace(ViewBag.Link))
    {
        link = ViewBag.Link;
    }

}

<div class="d-flex justify-content-center align-items-center" style="height:70vh">
    <div class="border col-4 rounded p-4" style="min-height:300px">
        <h1 class="mb-3">Congratulations!</h1>
        <p>
            A password rest link has been sent to your e-mail.
        <p>
            click to <a href="@link">reset password</a>
        </p>
        </p>
    </div>
</div>