@model ProfileViewModel
@{
    ViewBag.Title = "Profile page";
    Layout = "_Layout.cshtml";
    var pic = $"~/images/{Model.Photo}";
}

<div class="d-flex justify-content-center align-items-center" style="height:70vh">
    <div class="d-flex justify-content-sm-between rounded p-4" style="min-height:300px">
       <div class="border p-4" style="min-width:45%">
           <div style="width:150px; height:150px; border-radius:100%; overflow:hidden">
               <img src="@pic" asp-append-version="true" style="width:100%"/>
           </div>
           <form enctype="multipart/form-data" asp-action="UploadFile" 
                 asp-controller="Account" method="post">
               <input asp-for="@Model.Email" type="hidden" accept="images/*" class="mt-2" />
               <div class="mt-2">
                   <input class="form-control" asp-for="FileUploadModel.Photo" />
                   <button type="submit" class="btn btn-primary">Upload</button>
               </div>

           </form>
           <div class="text-danger">
               @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
               {
                   @ViewBag.ErrorMessage
               }
           </div>
       </div>
        <div class="border p-4"  style="min-width:45%">
            <h1>Hi @Model.FullName</h1>
        </div>
    </div>
</div>