@{
    ViewBag.Title = "Reset Password confirmation";
    Layout = "_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center" style="height:70vh">
    <div class="border col-4 rounded p-4" style="min-height:300px">
        <h1 class="mb-3">Congratulations</h1>
        <p>
            Your password has been recovered. 😁
        <p>
            <partial name="_AuthNavPartial" />
        </p>
    </div>
</div>