@model RestPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "_Layout.cshtml";

}

<div class="d-flex justify-content-center align-items-center" style="height:70vh">
    <div class="border col-4 rounded p-4" style="min-height:300px">
        <h2 class="mb-3">Forgot Password</h2>
        <div asp-validation-summary="ModelOnly"></div>
        <div class="text-danger">@ViewBag.ErrorMessage</div>
        <form method="post" asp-action="ResetPassword" asp-controller="Account">
            @*hidden fields*@
            <div class="form-group m-1">
                <input asp-for="Email" type="hidden" class="form-control" />
                <input asp-for="token" type="hidden" class="form-control" />
                <small class="mb-1 text-danger"><span asp-validation-for="Email"></span></small>
                <small class="mb-1 text-danger"><span asp-validation-for="token"></span></small>
            </div>

            <div class="form-group m-1">
                <input asp-for="Password" placeholder="Password" class="form-control" />
                <small class="mb-1 text-danger"><span asp-validation-for="Password"></span></small>
            </div>

            <div class="form-group m-1">
                <input asp-for="ConfirmPassword" placeholder="Confirm Password" class="form-control" />
                <small class="mb-1 text-danger"><span asp-validation-for="ConfirmPassword"></span></small>
            </div>

            <div class="form-group m-1">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>

            <hr />
            <partial name="_AuthNavPartial" />
        </form>
    </div>
</div>