# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SQOO7FirstWebApp.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\hp\source\repos\SQOO7FirstWebApp\.idea\.idea.SQOO7FirstWebApp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
